/* line 3, ../sass/helpers.sass */
.c-red {
  color: #FFCBCA;
}

/* line 5, ../sass/helpers.sass */
.c-green {
  color: #C1F5C4;
}

/* line 7, ../sass/helpers.sass */
.c-yellow {
  color: #FFF7CF;
}

/* line 9, ../sass/helpers.sass */
.c-dark-red {
  color: #ba7c7b;
}

/* line 11, ../sass/helpers.sass */
.c-dark-green {
  color: #81B084;
}

/* line 13, ../sass/helpers.sass */
.c-dark-yellow {
  color: #baa644;
}

/* line 16, ../sass/helpers.sass */
.bg-red {
  background-color: #FFCBCA;
}

/* line 18, ../sass/helpers.sass */
.bg-green {
  background: #C1F5C4;
}

/* line 20, ../sass/helpers.sass */
.bg-yellow {
  background: #FFF7CF;
}

/* line 22, ../sass/helpers.sass */
.bg-dark-red {
  background: #ba7c7b;
}

/* line 24, ../sass/helpers.sass */
.bg-dark-green {
  background: #81B084;
}

/* line 26, ../sass/helpers.sass */
.bg-dark-yellow {
  background: #baa644;
}
